*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    .lista-header{
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 10px;
    }
}