.batoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding: 15px;
    gap: 10px;

    .descricao{
        padding: 15px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100rem;
        height: 100rem;
        .fotos_batom{
            display: flex;
            flex-direction: column;
            height: 450px;
            justify-content: space-around;
        }
        .ex_batons{
            height: 450px;
            width: 29rem;
            img{
                width: 100%;
            }
        }
        .detalhes{
            box-shadow:0 2px 10px rgb(43, 43, 43);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30vw;
            height: 450px;
            .botoes{
                display: flex;
                width: 20vw;
                justify-content: space-around;
                cursor: pointer;

            }
            .estrelas{
                width: 10vw;
            }
        }
    }
    
}

h3{
    font-family: "roboto";
    font-weight: 700;
    font-size: 24px;
}

h4{
    font-family: "roboto";
    font-weight: 500;
    font-size: 20px;
}

h5{
    font-family: "roboto";
    font-weight: 400;
    font-size: 10px;
}

p{
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
}