.looks{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .makes{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}